## ignore this file##
#*.meta

## ignore ideal.client
ideal-client/library/
ideal-client/node_modules/
ideal-client/local/
ideal-client/temp/
ideal-client/settings/

## ignore ideal.server
#ideal-server/test/
ideal-server/node_modules/
ideal-server/npm-debug.log
